.MainSection {
  min-height: 100vh;
  overflow-x: hidden;
  flex-direction: column;
  display: flex;
  flex-grow: 1;
}

.Main {
  background-color: rgb(var(--ig-primary-background));
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  order: 4;
}

@media screen and (min-width: 736px) {
  .MainDiv {
    padding: 30px 20px 0;
    box-sizing: content-box;
    width: calc(100% - 40px);
  }

  .PostDivList {
    margin-bottom: 4px;
  }

  .PostDiv {
    margin-right: 4px;
  }

  /* .PostSavedLink {
    margin-right: 60px;
  } */

  .PostVideoLink {
    margin-right: 60px;
  }
}

.MainDiv {
  margin-top: 0;
  padding-top: 30px;
  margin-bottom: 30px;
  max-width: 935px;
  width: calc(100% - 40px);
  padding-bottom: 0;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  flex-grow: 1;
  margin-left: auto;
}

.PostDiv {
  flex: 1 0 0%;
  display: block;
  position: relative;
  width: 100%;
}

.NameDivLink {
  text-decoration: none;
  padding-top: 0;
  min-width: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom-style: none;
  border-bottom-width: 0;
  padding-bottom: 0;
  display: inline;
  flex-shrink: 1;
  border-left-width: 0;
  padding-left: 0;
  background-color: transparent;
  touch-action: manipulation;
  border-right-style: none;
  border-right-width: 0;
  box-sizing: border-box;
  border-top-width: 0;
  align-items: center;
  padding-right: 0;
  cursor: pointer;
  flex-direction: row;
  position: relative;
  margin-left: 0;
  -webkit-tap-highlight-color: transparent;
  border-top-style: none;
  border-left-style: none;
  text-align: inherit;
  margin-right: 0;
  list-style: none;
  outline: none;
  color: rgb(var(--ig-link));
}

.FollowSvg {
  color: rgb(var(--ig-primary-text));
  position: relative;
  display: block;
}

.ProfileContentType2 {
  display: block;
  color: rgb(var(--ig-secondary-text));
  font-weight: var(--font-weight-system-regular);
  margin: 0;
  font-size: var(--system-14-font-size);
  line-height: var(--system-14-line-height);
  font-family: var(--font-family-system);
}

.InfoLink {
  text-decoration: none;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom-style: none;
  border-bottom-width: 0;
  padding-bottom: 0;
  display: inline;
  border-left-width: 0;
  padding-left: 0;
  background-color: transparent;
  touch-action: manipulation;
  border-right-style: none;
  border-right-width: 0;
  box-sizing: border-box;
  border-top-width: 0;
  padding-right: 0;
  cursor: pointer;
  margin-left: 0;
  -webkit-tap-highlight-color: transparent;
  border-top-style: none;
  border-left-style: none;
  text-align: inherit;
  margin-right: 0;
  list-style: none;
  outline: none;
  color: rgb(var(--ig-link));
}

.errorDiv {
  overflow-y: visible;
  padding-bottom: 40px;
  overflow-x: visible;
  padding-top: 40px;
  align-content: stretch;
  border-bottom-left-radius: 0;
  justify-content: center;
  background-color: transparent;
  flex-direction: column;
  padding-right: 40px;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  padding-left: 40px;
  align-items: stretch;
  align-self: auto;
  position: relative;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.errorSpan {
  overflow-y: visible;
  min-width: 0;
  margin-bottom: 0 !important;
  overflow-x: visible;
  max-width: 100%;
  margin-top: 0 !important;
  color: rgb(var(--ig-primary-text));
  text-align: center;
  margin-right: 0 !important;
  word-wrap: break-word;
  font-weight: 600;
  position: relative;
  display: block;
  font-family: var(--font-family-system);
  white-space: pre-line;
  margin-left: 0 !important;
  word-break: break-word;
  font-size: var(--system-24-font-size);
}

.errorSpan::before {
  margin-top: -4px;
  height: 0;
  display: block;
  content: "";
}

.errorSpan::after {
  margin-top: -5px;
  height: 0;
  display: block;
  content: "";
}

.errorDiv2 {
  overflow-y: visible;
  margin-bottom: 20px;
  margin-top: 40px;
  overflow-x: visible;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  position: relative;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.errorSpan2 {
  overflow-y: visible;
  min-width: 0;
  margin-bottom: 0 !important;
  overflow-x: visible;
  max-width: 100%;
  margin-top: 0 !important;
  color: rgb(var(--ig-primary-text));
  text-align: center;
  margin-right: 0 !important;
  word-wrap: break-word;
  font-weight: 600;
  position: relative;
  display: block;
  font-family: var(--font-family-system);
  white-space: pre-line;
  margin-left: 0 !important;
  word-break: break-word;
  font-size: var(--system-16-font-size);
}

.goHome {
  text-decoration: none;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom-style: none;
  border-bottom-width: 0;
  padding-bottom: 0;
  display: inline;
  border-left-width: 0;
  padding-left: 0;
  background-color: transparent;
  touch-action: manipulation;
  border-right-style: none;
  border-right-width: 0;
  box-sizing: border-box;
  border-top-width: 0;
  padding-right: 0;
  cursor: pointer;
  margin-left: 0;
  -webkit-tap-highlight-color: transparent;
  border-top-style: none;
  border-left-style: none;
  text-align: inherit;
  margin-right: 0;
  list-style: none;
  outline: none;
}

.savedDiv {
  overflow-y: visible;
  overflow-x: visible;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  align-self: auto;
  justify-content: flex-start;
  position: relative;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.savedDiv2 {
  margin-top: 60px;
  overflow-y: visible;
  overflow-x: visible;
  margin-bottom: 60px;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: 44px;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  align-self: auto;
  justify-content: flex-start;
  position: relative;
  flex-grow: 0;
  border-top-left-radius: 0;
  margin-right: 44px;
  border-top-right-radius: 0;
}

.savedDiv3 {
  background-repeat: no-repeat;
  background-position: -192px -269px;
  height: 62px;
  width: 62px;
}

.savedDiv4 {
  overflow-y: visible;
  margin-top: 24px;
  overflow-x: visible;
  margin-bottom: 24px;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  position: relative;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.savedDiv5 {
  overflow-y: visible;
  min-width: 0;
  margin-bottom: 0 !important;
  overflow-x: visible;
  max-width: 100%;
  margin-top: 0 !important;
  font-weight: 800;
  font-size: var(--system-30-font-size);
  color: rgb(var(--ig-primary-text));
  text-align: center;
  margin-right: 0 !important;
  word-wrap: break-word;
  position: relative;
  display: block;
  font-family: var(--font-family-system);
  white-space: pre-line;
  margin-left: 0 !important;
  word-break: break-word;
}

.savedDiv5::before {
  margin-top: -5px;
  height: 0;
  display: block;
  content: "";
}

.savedDiv5::after {
  margin-top: -6px;
  height: 0;
  display: block;
  content: "";
}

.savedDiv6 {
  overflow-y: visible;
  overflow-x: visible;
  margin-bottom: 24px;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  position: relative;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.savedDiv7 {
  overflow-y: visible;
  min-width: 0;
  margin-bottom: 0 !important;
  overflow-x: visible;
  max-width: 100%;
  margin-top: 0 !important;
  font-size: var(--system-14-font-size);
  font-weight: 400;
  color: rgb(var(--ig-primary-text));
  text-align: center;
  margin-right: 0 !important;
  word-wrap: break-word;
  position: relative;
  display: block;
  font-family: var(--font-family-system);
  white-space: pre-line;
  margin-left: 0 !important;
  word-break: break-word;
}

.savedDiv7::before {
  margin-top: -3px;
  height: 0;
  display: block;
  content: "";
}

.savedDiv7::after {
  margin-top: -4px;
  height: 0;
  display: block;
  content: "";
}

@media screen and (min-width: 736px) {
  .PostDivList {
    margin-bottom: 4px;
  }

  .PostDiv {
    margin-right: 4px;
  }
}

.PostDivList {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  position: relative;
  margin-bottom: 10px;
}

.PostDiv {
  flex: 1 0 0%;
  display: block;
  position: relative;
  width: 100%;
  margin-right: 10px;
}

.PostDivInnerLink {
  text-decoration: none;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom-style: none;
  border-bottom-width: 0;
  padding-bottom: 0;
  display: inline;
  border-left-width: 0;
  padding-left: 0;
  background-color: transparent;
  touch-action: manipulation;
  border-right-style: none;
  border-right-width: 0;
  box-sizing: border-box;
  border-top-width: 0;
  padding-right: 0;
  cursor: pointer;
  margin-left: 0;
  -webkit-tap-highlight-color: transparent;
  border-top-style: none;
  border-left-style: none;
  text-align: inherit;
  margin-right: 0;
  list-style: none;
  outline: none;
  color: rgb(var(--ig-link));
}

.LinkDiv {
  background-color: rgb(var(--ig-highlight-background));
  display: block;
  width: auto;
  position: relative;
}

.LinkDiv2 {
  display: block;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
}
.LinkDiv3 {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.ImageLink {
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  user-select: none;
  position: absolute;
  border: 0;
}

.NDiv {
  margin-top: 60px;
  overflow-y: visible;
  overflow-x: visible;
  margin-bottom: 60px;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: 44px;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  align-self: auto;
  justify-content: flex-start;
  position: relative;
  flex-grow: 0;
  border-top-left-radius: 0;
  margin-right: 44px;
  border-top-right-radius: 0;
}

.PostLinkDiv {
  overflow-y: visible;
  overflow-x: visible;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  flex-direction: row;
  align-self: auto;
  justify-content: center;
  position: relative;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.CamDiv {
  border-bottom-color: var(--always-dark-overlay);
  padding-top: 0;
  min-width: 0;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 0;
  border-bottom-width: 0;
  border-bottom-style: solid;
  padding-bottom: 0;
  border-right-style: solid;
  border-left-width: 0;
  padding-left: 0;
  border-top-color: var(--always-dark-overlay);
  background-color: transparent;
  touch-action: manipulation;
  flex-basis: auto;
  border-right-width: 0;
  border-right-color: var(--always-dark-overlay);
  box-sizing: border-box;
  border-top-width: 0;
  user-select: none;
  padding-right: 0;
  border-top-right-radius: inherit;
  display: inline-flex;
  flex-shrink: 0;
  border-left-color: var(--always-dark-overlay);
  border-left-style: solid;
  cursor: pointer;
  outline-style: none;
  align-items: stretch;
  flex-direction: row;
  border-top-left-radius: inherit;
  position: relative;
  margin-left: 0;
  z-index: 0;
  -webkit-tap-highlight-color: transparent;
  border-bottom-right-radius: inherit;
  text-align: inherit;
  border-bottom-left-radius: inherit;
  border-top-style: solid;
  margin-right: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

.CamDiv2 {
  background-repeat: no-repeat;
  background-position: -128px -269px;
  height: 62px;
  width: 62px;
}

.NDiv2 {
  overflow-y: visible;
  margin-top: 24px;
  overflow-x: visible;
  margin-bottom: 24px;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  position: relative;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.NSpan {
  overflow-y: visible;
  min-width: 0;
  margin-bottom: 0 !important;
  overflow-x: visible;
  max-width: 100%;
  margin-top: 0 !important;
  font-weight: 800;
  font-size: var(--system-30-font-size);
  color: rgb(var(--ig-primary-text));
  text-align: center;
  margin-right: 0 !important;
  word-wrap: break-word;
  position: relative;
  display: block;
  font-family: var(--font-family-system);
  white-space: pre-line;
  margin-left: 0 !important;
  word-break: break-word;
}

.NSpan::before {
  margin-top: -5px;
  height: 0;
  display: block;
  content: "";
}

.NSpan::after {
  margin-top: -6px;
  height: 0;
  display: block;
  content: "";
}

.NDiv3 {
  overflow-y: visible;
  overflow-x: visible;
  margin-bottom: 24px;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  position: relative;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.Nspan2 {
  overflow-y: visible;
  min-width: 0;
  margin-bottom: 0 !important;
  overflow-x: visible;
  max-width: 100%;
  margin-top: 0 !important;
  font-size: var(--system-14-font-size);
  font-weight: 400;
  color: rgb(var(--ig-primary-text));
  text-align: center;
  margin-right: 0 !important;
  word-wrap: break-word;
  position: relative;
  display: block;
  font-family: var(--font-family-system);
  white-space: pre-line;
  margin-left: 0 !important;
  word-break: break-word;
}

.Nspan2::before {
  margin-top: -3px;
  height: 0;
  display: block;
  content: "";
}

.Nspan2::after {
  margin-top: -4px;
  height: 0;
  display: block;
  content: "";
}

.NDiv4 {
  height: auto;
  border-bottom-color: var(--always-dark-overlay);
  padding-top: 0;
  min-width: 0;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 0;
  border-bottom-style: none;
  border-bottom-width: 0;
  padding-bottom: 0;
  width: auto;
  font-weight: var(--font-weight-system-semibold);
  border-top-left-radius: 2px;
  border-left-width: 0;
  text-overflow: ellipsis;
  justify-content: center;
  padding-left: 0;
  appearance: none;
  border-top-color: var(--always-dark-overlay);
  background-color: transparent;
  touch-action: manipulation;
  flex-basis: auto;
  border-right-style: none;
  border-right-width: 0;
  border-right-color: var(--always-dark-overlay);
  box-sizing: border-box;
  border-top-width: 0;
  user-select: none;
  align-items: center;
  padding-right: 0;
  display: inline-flex;
  flex-shrink: 0;
  border-left-color: var(--always-dark-overlay);
  text-align: center;
  cursor: pointer;
  border-top-right-radius: 2px;
  outline-style: none;
  flex-direction: row;
  position: relative;
  margin-left: 0;
  z-index: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: var(--font-family-system);
  font-size: 0.875rem;
  border-top-style: none;
  line-height: var(--system-14-line-height);
  border-left-style: none;
  color: rgb(var(--ig-primary-button));
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-right: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

.CamDiv3 {
  border-color: rgb(var(--grey-9));
  align-items: center;
  background: transparent;
  border-radius: 50%;
  border-style: solid;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  position: relative;
}

.CamDivSpan {
  background-repeat: no-repeat;
  background-position: -384px -396px;
  height: 24px;
  width: 24px;
  display: block;
}

.CamDivSpanSvg {
  /* fill: rgb(var(--grey-9)); */
  color: rgb(var(--ig-primary-text));
}

.CamDiv4 {
  overflow-y: visible;
  margin-top: 32px;
  overflow-x: visible;
  margin-bottom: 48px;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  position: relative;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.CamDivSpan2 {
  overflow-y: visible;
  min-width: 0;
  margin-bottom: 0 !important;
  overflow-x: visible;
  max-width: 100%;
  margin-top: 0 !important;
  font-weight: 800;
  font-size: var(--system-30-font-size);
  color: rgb(var(--ig-primary-text));
  margin-right: 0 !important;
  word-wrap: break-word;
  position: relative;
  display: block;
  font-family: var(--font-family-system);
  white-space: pre-line;
  margin-left: 0 !important;
  word-break: break-word;
}

.CamDivSpan2::before {
  margin-top: -5px;
  height: 0;
  display: block;
  content: "";
}

.CamDivSpan2::after {
  margin-top: -6px;
  height: 0;
  display: block;
  content: "";
}
