.container {
  display: flex;
  flex-direction: column;
  background-color: var(--ig-primary-background);
  width: 100vw;
  height: 100vh;
}

.left {
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: var(--ig-primary-background);
  display: flex;
  padding: 16px;
}

.left2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.leftImg {
  max-height: 380px;
  max-width: 100%;
  height: auto;
  width: auto;
}

.right {
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 16px;
  display: flex;
}

.right2 {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  font-size: 28px;
  font-weight: 700;
  word-wrap: break-word;
  font-family: "TwitterChirpExtendedHeavy", "Verdana", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 24px 0;
}

.rightSpan {
  text-align: center;
  white-space: nowrap;
}

.signup {
  width: 100%;
  max-width: 300px;
  height: 40px;
  border-radius: 20px;
  padding: 0 16px;
  font-size: 15px;
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 0;
  text-decoration: none;
}
.signup:hover {
  background-color: rgb(26, 140, 216);
}
.login {
  width: 100%;
  max-width: 300px;
  height: 40px;
  border-radius: 20px;
  padding: 0 16px;
  font-size: 15px;
  color: rgb(29, 155, 240);
  border: 1px solid rgb(207, 217, 222);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 0;
  text-decoration: none;
}
.login:hover {
  background-color: rgba(29, 155, 240, 0.1);
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .left {
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  .right {
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  .rightDiv {
    font-size: 32px;
  }
}

@media (min-width: 1200px) {
  .rightDiv {
    font-size: 48px;
  }

  .rightSpan {
    white-space: nowrap;
  }

  .leftImg {
    max-height: 500px;
  }
}
