.bodyInnerDiv {
  width: calc(min(470px, 100vw) - 2px);
}

.bodyInnerDiv2M {
  flex-grow: 1;
}

.bodyInnerDiv3M {
  align-items: stretch;
  border: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font: inherit;
  font-size: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  vertical-align: baseline;
}

.bodyInnerDiv4M {
  display: block;
  position: relative;
}

.bodyInnerDiv5M {
  align-items: stretch;
  border: 0;
  box-sizing: border-box;
  display: block;
  flex-direction: column;
  flex-shrink: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  vertical-align: baseline;
}

.bodyInnerDiv6M {
  overflow-y: visible;
  overflow-x: visible;
  bottom: 0;
  top: 0;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  flex-direction: column;
  right: 0;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 0;
  left: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: absolute;
}

.bodyInnerDiv7M {
  align-items: stretch;
  border: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font: inherit;
  font-size: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  vertical-align: baseline;
  width: 100%;
}

.bodyInnerDiv8M {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}

.bodyInnerDiv9M {
  align-items: stretch;
  border: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font: inherit;
  font-size: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  vertical-align: baseline;
}

.Imgul {
  border: 0;
  display: flex;
  flex-direction: row;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  list-style-type: none;
}

.Imgli {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  vertical-align: baseline;
  height: 100%;
}

.liDiv {
  -webkit-tap-highlight-color: transparent;
}

.InnerDivM {
  background-color: rgb(var(--ig-highlight-background));
  display: block;
  width: 100%;
  position: relative;
}

.InnerDivM2 {
  display: block;
  overflow: hidden;
  position: relative;
}

.videoDiv {
  width: 100%;
  height: 100%;
  background-color: rgb(var(--web-always-black));
  position: absolute;
}
.videoDiv2 {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  z-index: 0;
}

.videoDiv3 {
  width: 100%;
  height: 100%;
  position: relative;
}

.videoDiv4 {
  width: 100%;
  height: 100%;
  position: relative;
}

.videoDiv5 {
  width: 100%;
  height: 100%;
  position: static;
}

.video {
  width: 100%;
  height: 100%;
}

.videoDiv66 {
  bottom: 0;
  top: 0;
  right: 0;
  box-sizing: border-box;
  cursor: pointer;
  left: 0;
  position: absolute;
}

.videoDiv6 {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
}

.videoDiv7 {
  overflow-y: visible;
  overflow-x: visible;
  bottom: 0;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  flex-direction: column;
  right: 0;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: absolute;
  z-index: 1000;
}

.videoDiv8 {
  top: 50%;
  margin-top: -67px;
  left: 50%;
  margin-left: -67px;
  position: absolute;
}

.videoBtn {
  padding-bottom: 8px;
  overflow-y: visible;
  margin-bottom: 16px;
  padding-top: 8px;
  overflow-x: visible;
  border-bottom-left-radius: 50%;
  padding-left: 8px;
  border-top-right-radius: 50%;
  align-content: stretch;
  margin-right: 16px;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  background-color: rgb(var(--web-overlay-on-media));
  position: static;
  padding-right: 8px;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 0;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
}

.videoButton {
  border: 0;
  color: rgb(var(--ig-primary-button));
  display: inline-block;
  padding: 0 !important;
  position: relative;
  text-align: center;
  font-family: var(--font-family-system);
  -webkit-appearance: none;
  background: none;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  font-weight: var(--font-weight-system-semibold);
  pointer-events: auto;
  text-overflow: ellipsis;
  text-transform: inherit;
  -webkit-user-select: none;
  width: auto;
  line-height: var(--system-14-line-height);
  margin: 0;
}

.audioSvg {
  color: rgb(var(--web-always-white));
  position: relative;
  display: block;
  forced-color-adjust: auto;
}

.ImgM {
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  user-select: none;
  position: absolute;
  border: 0;
}

.BtnM {
  cursor: pointer;
  padding: 16px 8px;
  background: transparent;
  border: none;
  justify-self: center;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(var(--ig-primary-text));
  font-family: var(--font-family-system);
  font-size: var(--system-14-font-size);
  line-height: var(--system-14-line-height);
  margin: 0;
}

.prevBtn {
  background-repeat: no-repeat;
  background-position: -130px -98px;
  height: 30px;
  width: 30px;
}

.nextBtn {
  background-repeat: no-repeat;
  background-position: -162px -98px;
  height: 30px;
  width: 30px;
}

.NumberOfA {
  flex-direction: row;
  display: flex;
  align-items: center;
  bottom: 15px;
  justify-content: center;
  left: 6px;
  pointer-events: none;
  position: absolute;
  right: 6px;
}

.bodyInnerDiv2 {
  -webkit-tap-highlight-color: transparent;
}

.bodyInnerDivDiv {
  align-items: stretch;
  border: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font: inherit;
  font-size: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  vertical-align: baseline;
}

.bodyInnerDiv3 {
  background-color: rgb(var(--ig-highlight-background));
  display: block;
  width: 100%;
  position: relative;
}

.bodyInnerDiv4 {
  display: block;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
}
