.section {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  flex-grow: 1;
}

.main {
  background-color: rgb(var(--ig-primary-background));
  flex-direction: column;
  display: flex;
  flex-grow: 1;
}

.mainDiv {
  padding-top: calc(4vh);
  margin-top: 0;
  margin-bottom: 16px;
  max-width: 935px;
  width: calc(100% - 40px);
  padding-bottom: 0;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
  flex-grow: 1;
  margin-left: auto;
}

.mainDiv2 {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  flex-direction: column;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: auto;
}

.mainDiv3 {
  margin-top: 48px;
  overflow-y: visible;
  overflow-x: visible;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  position: relative;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.mainDiv4 {
  border-bottom-width: 1px;
  width: 100%;
  border-top-color: rgb(var(--ig-elevated-separator));
  border-bottom-style: solid;
  border-bottom-color: rgb(var(--ig-elevated-separator));
  border-top-width: 1px;
  border-top-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-left-color: rgb(var(--ig-elevated-separator));
  display: flex;
  border-left-style: solid;
  flex-direction: row;
  border-right-color: rgb(var(--ig-elevated-separator));
}

.VideoDiv {
  min-height: 450px;
  border-right-style: solid;
  border-right-width: 1px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  border-right-color: rgb(var(--ig-elevated-separator));
}

.VideoDiv2 {
  width: 100%;
  display: block;
}

.VideoDiv3 {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  padding-bottom: 0;
  border-left-width: 0;
  padding-left: 0;
  font-size: 100%;
  touch-action: manipulation;
  flex-direction: column;
  border-right-width: 0;
  box-sizing: border-box;
  display: flex;
  padding-right: 0;
  flex-shrink: 0;
  align-items: stretch;
  position: relative;
  margin-left: 0;
  vertical-align: baseline;
  margin-right: 0;
}

.VideoDiv4 {
  -webkit-tap-highlight-color: transparent;
}

.VideoDiv5 {
  position: relative;
}

.VideoDiv6 {
  width: 100%;
  height: 100%;
  background-color: rgb(var(--web-always-black));
  position: absolute;
}

.VideoDiv7 {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  z-index: 0;
}

.VideoDiv8 {
  width: 100%;
  height: 100%;
  position: relative;
}

.VideoDiv9 {
  width: 100%;
  height: 100%;
  position: relative;
}

.VideoDiv10 {
  width: 100%;
  height: 100%;
  position: static;
}

.VideoDiv11 {
  width: 100%;
  height: 100%;
  display: block;
}

.footerDiv {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
}

.footerDiv2 {
  bottom: 0;
  top: 0;
  right: 0;
  box-sizing: border-box;
  cursor: pointer;
  left: 0;
  position: absolute;
}

.footerPlayingDiv {
  bottom: 0;
  top: 0;
  right: 0;
  box-sizing: border-box;
  cursor: pointer;
  left: 0;
  position: absolute;
}

.footerPlayingDiv2 {
  top: 50%;
  margin-top: -67px;
  left: 50%;
  margin-left: -67px;
  position: absolute;
}

.MuteDiv {
  overflow-y: visible;
  overflow-x: visible;
  bottom: 0;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  flex-direction: column;
  right: 0;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: absolute;
}

.MuteBtn {
  border: 0;
  color: rgb(var(--ig-primary-button));
  display: inline-block;
  padding: 0 !important;
  position: relative;
  text-align: center;
  font-family: var(--font-family-system);
  -webkit-appearance: none;
  background: none;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  font-weight: var(--font-weight-system-semibold);
  pointer-events: auto;
  text-overflow: ellipsis;
  text-transform: inherit;
  -webkit-user-select: none;
  width: auto;
  line-height: var(--system-14-line-height);
  margin: 0;
}

.MuteDiv2 {
  padding-bottom: 8px;
  overflow-y: visible;
  margin-bottom: 16px;
  padding-top: 8px;
  overflow-x: visible;
  border-bottom-left-radius: 50%;
  padding-left: 8px;
  border-top-right-radius: 50%;
  align-content: stretch;
  margin-right: 16px;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  background-color: rgb(var(--web-overlay-on-media));
  position: static;
  padding-right: 8px;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 0;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
}

.MuteSvg {
  color: rgb(var(--web-always-white));
  position: relative;
  display: block;
  forced-color-adjust: auto;
}

.contentDiv {
  width: var(--media-info);
}

.contentDiv2 {
  width: 100%;
  height: 100%;
  background-color: rgb(var(--ig-primary-background));
  flex-direction: column;
  display: flex;
  position: relative;
}

.contentDiv3 {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  padding-right: 16px;
}

.contentHr {
  height: 1px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  margin-left: 0;
  background-color: rgb(var(--ig-separator));
  margin-right: 0;
  background: #dadde1;
  color: #dadde1;
}

.contentDiv4 {
  overflow-x: auto;
  height: 100%;
  overflow-y: auto;
  position: relative;
}

.contentDiv5 {
  width: 100%;
  padding-top: 6px;
  border-top-color: rgb(var(--post-separator));
  border-top-width: 1px;
  border-top-style: solid;
  padding-bottom: 6px;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
}

.contentDiv6 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 16px;
  margin-left: 16px;
}

.contentDiv7 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.contentDiv8 {
  margin-right: 12px;
}

.profileImgDiv {
  align-items: center;
  align-self: center;
  display: block;
  flex: none;
  justify-content: center;
  position: relative;
}

.profileImgCanvas {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  aspect-ratio: auto 42 / 42;
}

.profileImgSpan {
  overflow-x: hidden;
  overflow-y: hidden;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: rgb(var(--ig-secondary-background));
  box-sizing: border-box;
  flex-shrink: 0;
  cursor: pointer;
  position: relative;
  display: block;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
}

.Image {
  width: 100%;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-top-width: 0;
  height: 100%;
  border-bottom-width: 0;
  padding-bottom: 0;
  -webkit-touch-callout: none;
  border-left-width: 0;
  object-fit: cover;
  padding-left: 0;
  font-size: 100%;
  border-right-width: 0;
  padding-right: 0;
  margin-left: 0;
  vertical-align: baseline;
  margin-right: 0;
  border: 0;
}

.Image::after {
  border-top-color: rgba(var(--web-always-black), 0.0975);
  border-top-style: solid;
  border-top-width: 1px;
  bottom: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  top: 0;
  border-bottom-color: rgba(var(--web-always-black), 0.0975);
  border-bottom-left-radius: 50%;
  border-right-style: solid;
  border-bottom-right-radius: 50%;
  border-right-color: rgba(var(--web-always-black), 0.0975);
  border-left-color: rgba(var(--web-always-black), 0.0975);
  pointer-events: none;
  border-top-right-radius: 50%;
  content: "";
  right: 0;
  position: absolute;
  border-left-style: solid;
  border-top-left-radius: 50%;
  left: 0;
  border-right-width: 1px;
  border-left-width: 1px;
  cursor: pointer;
}

.contentDiv9 {
  width: 100%;
  padding-top: 0;
  height: 100%;
  padding-bottom: 16px;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  position: absolute;
}

.contentDiv10 {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
}

.contentDiv11 {
  padding-top: 12px;
  padding-bottom: 12px;
  overflow-y: visible;
  overflow-x: visible;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  position: static;
  align-items: stretch;
  flex-direction: row;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.contentDiv12 {
  margin-right: 8px;
}

.contentDiv13 {
  overflow-y: visible;
  min-width: 0;
  min-height: 0;
  overflow-x: visible;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  position: static;
  align-items: stretch;
  flex-direction: row;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 1;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.contentLink {
  text-decoration: none;
  border-bottom-color: var(--always-dark-overlay);
  border-top-color: var(--always-dark-overlay);
  padding-top: 0;
  min-width: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-top-width: 0;
  overflow-x: hidden;
  min-height: 0;
  border-bottom-width: 0;
  border-bottom-style: solid;
  padding-bottom: 0;
  border-top-style: solid;
  overflow-y: hidden;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  border-right-style: solid;
  background-color: rgb(var(--ig-secondary-background));
  border-left-width: 0;
  padding-left: 0;
  background-color: transparent;
  touch-action: manipulation;
  flex-direction: column;
  flex-basis: auto;
  border-right-width: 0;
  border-right-color: var(--always-dark-overlay);
  box-sizing: border-box;
  display: flex;
  padding-right: 0;
  flex-shrink: 0;
  border-left-color: var(--always-dark-overlay);
  border-left-style: solid;
  cursor: pointer;
  outline-style: none;
  align-items: stretch;
  position: relative;
  margin-left: 0;
  display: block;
  z-index: 0;
  -webkit-tap-highlight-color: transparent;
  border-bottom-right-radius: 50%;
  text-align: inherit;
  border-top-left-radius: 50%;
  margin-right: 0;
  list-style: none;
  text-decoration: none;
  color: rgb(var(--ig-link));
}

.contentLinkImage {
  width: 100%;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-top-width: 0;
  height: 100%;
  border-bottom-width: 0;
  padding-bottom: 0;
  -webkit-touch-callout: none;
  border-left-width: 0;
  object-fit: cover;
  padding-left: 0;
  font-size: 100%;
  border-right-width: 0;
  padding-right: 0;
  margin-left: 0;
  vertical-align: baseline;
  margin-right: 0;
  border: 0;
}

.contentLinkImage::after {
  border-top-color: rgba(var(--web-always-black), 0.0975);
  border-top-style: solid;
  border-top-width: 1px;
  bottom: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  top: 0;
  border-bottom-color: rgba(var(--web-always-black), 0.0975);
  border-bottom-left-radius: 50%;
  border-right-style: solid;
  border-bottom-right-radius: 50%;
  border-right-color: rgba(var(--web-always-black), 0.0975);
  border-left-color: rgba(var(--web-always-black), 0.0975);
  pointer-events: none;
  border-top-right-radius: 50%;
  content: "";
  right: 0;
  position: absolute;
  border-left-style: solid;
  border-top-left-radius: 50%;
  left: 0;
  border-right-width: 1px;
  border-left-width: 1px;
}

.contentDiv14 {
  overflow-y: visible;
  min-width: 0;
  min-height: 0;
  overflow-x: visible;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  position: static;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 1;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.contentDivSpan {
  overflow-y: visible;
  min-width: 0;
  margin-bottom: 0 !important;
  overflow-x: visible;
  max-width: 100%;
  margin-top: 0 !important;
  font-size: var(--system-14-font-size);
  font-weight: 400;
  color: rgb(var(--ig-primary-text));
  margin-right: 0 !important;
  word-wrap: break-word;
  position: relative;
  display: block;
  font-family: var(--font-family-system);
  white-space: pre-line;
  margin-left: 0 !important;
  word-break: break-word;
}

.contentDiv15 {
  overflow-y: visible;
  overflow-x: visible;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  position: static;
  flex-direction: row;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.contentDiv16 {
  overflow-y: visible;
  overflow-x: visible;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  position: static;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.contentDiv16::before {
  height: 0;
  display: block;
  content: "";
}

.contentDiv16::after {
  height: 0;
  display: block;
  content: "";
}

.contentDiv17 {
  overflow-y: visible;
  overflow-x: visible;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  position: static;
  align-items: stretch;
  flex-direction: row;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.contentDivSpan2 {
  min-width: 0;
  margin-bottom: 0 !important;
  max-width: 100%;
  margin-top: 0 !important;
  font-size: var(--system-14-font-size);
  display: inline;
  font-weight: 400;
  color: rgb(var(--ig-primary-text));
  margin-right: 0 !important;
  word-wrap: break-word;
  font-family: var(--font-family-system);
  white-space: pre-line;
  margin-left: 0 !important;
  word-break: break-word;
}

.contentDivSpan3 {
  display: inline;
}

.contentLink2 {
  text-decoration: none;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-top-width: 0;
  border-bottom-style: none;
  border-bottom-width: 0;
  border-top-style: none;
  padding-bottom: 0;
  display: inline;
  border-left-width: 0;
  padding-left: 0;
  background-color: transparent;
  touch-action: manipulation;
  border-right-style: none;
  border-right-width: 0;
  box-sizing: border-box;
  padding-right: 0;
  cursor: pointer;
  margin-left: 0;
  -webkit-tap-highlight-color: transparent;
  border-left-style: none;
  text-align: inherit;
  margin-right: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

.contentDiv18 {
  overflow-y: visible;
  overflow-x: visible;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  flex-direction: column;
  box-sizing: border-box;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  position: static;
  display: inline-block;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.contentDiv19 {
  overflow-y: visible;
  overflow-x: visible;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  flex-direction: row;
  align-self: auto;
  justify-content: flex-start;
  position: relative;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.contentDivSpan4 {
  display: inline !important;
  margin: 0 !important;
  color: rgb(var(--ig-primary-text));
  font-weight: var(--font-weight-system-semibold);
  font-size: var(--system-14-font-size);
  line-height: var(--system-14-line-height);
  font-family: var(--font-family-system);
}

.contentDivSpan5 {
  min-width: 0;
  margin-bottom: 0 !important;
  max-width: 100%;
  margin-top: 0 !important;
  font-size: var(--system-14-font-size);
  display: inline;
  font-weight: 400;
  margin-right: 0 !important;
  word-wrap: break-word;
  color: rgb(var(--ig-secondary-text));
  font-family: var(--font-family-system);
  white-space: pre-line;
  margin-left: 0 !important;
  word-break: break-word;
}

.timeMargin {
  margin-left: 4px;
}

.AddCommentSide {
  padding-right: 16px;
  order: 6;
  padding-bottom: 6px;
  padding-top: 6px;
  border-top: 1px solid rgb(var(--post-separator));
  color: rgb(var(--ig-secondary-text));
  flex-shrink: 0;
  font-size: var(--system-14-font-size);
  justify-content: center;
  line-height: var(--system-14-line-height);
  position: relative;
}

.AddCommentForm {
  border: 0;
  display: flex;
  flex-direction: row;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

.AddCommentFormDiv {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.CommentFormEmoticon {
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.CommentFormEmoticonInner {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom-style: none;
  border-bottom-width: 0;
  padding-bottom: 0;
  border-left-width: 0;
  justify-content: center;
  padding-left: 0;
  background-color: transparent;
  touch-action: manipulation;
  border-right-style: none;
  border-right-width: 0;
  box-sizing: border-box;
  border-top-width: 0;
  display: flex;
  align-items: center;
  padding-right: 0;
  cursor: pointer;
  margin-left: 0;
  -webkit-tap-highlight-color: transparent;
  border-top-style: none;
  border-left-style: none;
  text-align: inherit;
  margin-right: 0;
  list-style: none;
}

.EmoticonInnerDiv {
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  text-decoration: none;
  outline: none;
}

.EmoticonSvg {
  color: rgb(var(--ig-primary-text));
  position: relative;
  display: block;
}

.CommentFormArea {
  height: 18px !important;
  width: 0;
  max-height: 80px;
  padding-top: 0;
  border-bottom-style: none;
  padding-bottom: 0;
  background-color: rgb(var(--ig-primary-background));
  resize: none;
  padding-left: 0;
  border-right-style: none;
  display: flex;
  padding-right: 0;
  font-size: inherit;
  flex-grow: 1;
  font-family: var(--font-family-system);
  border-top-style: none;
  border-left-style: none;
  outline: none;
  line-height: var(--system-14-line-height);
  max-width: 100%;
  -webkit-appearance: none;
  border-radius: 0;
  margin: 0;
}

.CommentFormEnter {
  margin-left: 8px;
}

.OtherEnterDiv {
  height: auto;
  border-bottom-color: var(--always-dark-overlay);
  padding-top: 0;
  min-width: 0;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 0;
  border-bottom-style: none;
  border-bottom-width: 0;
  padding-bottom: 0;
  width: auto;
  font-weight: var(--font-weight-system-semibold);
  display: inline;
  border-top-left-radius: 2px;
  border-left-width: 0;
  text-overflow: ellipsis;
  justify-content: center;
  padding-left: 0;
  appearance: none;
  border-top-color: var(--always-dark-overlay);
  background-color: transparent;
  touch-action: manipulation;
  flex-basis: auto;
  border-right-style: none;
  border-right-width: 0;
  border-right-color: var(--always-dark-overlay);
  box-sizing: border-box;
  border-top-width: 0;
  user-select: none;
  align-items: center;
  padding-right: 0;
  flex-shrink: 0;
  border-left-color: var(--always-dark-overlay);
  text-align: center;
  cursor: pointer;
  border-top-right-radius: 2px;
  outline-style: none;
  flex-direction: row;
  position: relative;
  margin-left: 0;
  z-index: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: var(--font-family-system);
  font-size: 0.875rem;
  border-top-style: none;
  line-height: var(--system-14-line-height);
  border-left-style: none;
  color: rgb(var(--ig-primary-button));
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-right: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

.CommentFromEnterDiv {
  height: auto;
  border-bottom-color: var(--always-dark-overlay);
  padding-top: 0;
  min-width: 0;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 0;
  border-bottom-style: none;
  border-bottom-width: 0;
  padding-bottom: 0;
  width: auto;
  font-weight: var(--font-weight-system-semibold);
  display: inline;
  border-top-left-radius: 2px;
  border-left-width: 0;
  text-overflow: ellipsis;
  justify-content: center;
  color: rgb(var(--blue-2));
  padding-left: 0;
  appearance: none;
  border-top-color: var(--always-dark-overlay);
  background-color: transparent;
  touch-action: manipulation;
  flex-basis: auto;
  border-right-style: none;
  border-right-width: 0;
  border-right-color: var(--always-dark-overlay);
  box-sizing: border-box;
  border-top-width: 0;
  user-select: none;
  align-items: center;
  padding-right: 0;
  pointer-events: none;
  flex-shrink: 0;
  border-left-color: var(--always-dark-overlay);
  text-align: center;
  cursor: pointer;
  border-top-right-radius: 2px;
  outline-style: none;
  flex-direction: row;
  position: relative;
  margin-left: 0;
  z-index: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: var(--font-family-system);
  opacity: 1;
  font-size: 0.875rem;
  border-top-style: none;
  line-height: var(--system-14-line-height);
  border-left-style: none;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-right: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

.EnterSpan {
  opacity: 0.5;
}
@keyframes menuanime {
  0% {
    opacity: 0;
    transform: scale(1.2);
    transform-origin: center;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform-origin: center;
  }
}

.audioSvg {
  color: rgb(var(--web-always-white));
  position: relative;
  display: block;
  forced-color-adjust: auto;
}

.ExitBtn {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6); /* 배경을 어둡게 */
}

.ExitBtn2 {
  box-sizing: border-box;
  position: relative;
}

.ExitBtn3 {
  flex-direction: column;
  display: flex;
  position: relative;
  min-height: 100vh;
}

.ExitBtn4 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent; /* 투명하게 만들어 클릭을 감지 */
}

.ExitBtn5 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.ExitBtn6 {
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.ExitBtn7 {
  min-width: 0;
  min-height: 0;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  pointer-events: none;
  align-items: center;
}

.ExitBtn8 {
  overflow-x: hidden;
  overflow-y: hidden;
  justify-content: center;
  flex-direction: column;
  display: flex;
  pointer-events: all;
  align-items: center;
  position: relative;
  z-index: 0;
  box-sizing: content-box;
  outline: none;
}

.ExitBtn9 {
  margin-bottom: 20px;
  margin-top: 20px;
  max-height: calc(100% - 40px);
  width: 260px;
  animation-duration: 0.1s;
  flex-shrink: 1;
  margin-left: 20px;
  animation-name: menuanime;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  position: relative;
  margin-right: 20px;
}

@media (min-width: 736px) {
  .ExitBtn9 {
    width: 400px;
  }
}

.ExitBtnModal {
  overflow-x: auto;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
  border-bottom-left-radius: var(--modal-border-radius);
  border-top-left-radius: var(--modal-border-radius);
  border-bottom-right-radius: var(--modal-border-radius);
  background-color: rgb(var(--ig-elevated-background));
  border-top-right-radius: var(--modal-border-radius);
}

.ExitBtnModal2 {
  align-items: stretch;
  border: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font: inherit;
  font-size: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  vertical-align: baseline;
}

.ExitBtnModalHeader {
  margin-top: calc(2 * var(--modal-padding));
  align-items: stretch;
  border: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font: inherit;
  font-size: 100%;
  margin: calc(2 * var(--modal-padding)) calc(2 * var(--modal-padding))
    var(--modal-padding) calc(2 * var(--modal-padding));
  word-wrap: anywhere;
  padding: 0;
  position: relative;
  text-align: center;
  vertical-align: baseline;
}

.ExitBtnModalBody {
  align-items: stretch;
  border: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  margin-top: var(--modal-padding);
  padding: 0;
  position: relative;
  vertical-align: baseline;
}

.ExitBtnModalHeader2 {
  overflow-y: visible;
  min-width: 0;
  margin-bottom: 0 !important;
  overflow-x: visible;
  max-width: 100%;
  margin-top: 0 !important;
  font-weight: 400;
  color: rgb(var(--ig-primary-text));
  margin-right: 0 !important;
  word-wrap: break-word;
  position: relative;
  font-size: var(--system-20-font-size);
  display: block;
  font-family: var(--font-family-system);
  white-space: pre-line;
  margin-left: 0 !important;
  word-break: break-word;
}

.ExitBtnModalHeader2::before {
  margin-top: -4px;
  height: 0;
  display: block;
  content: "";
}

.ExitBtnModalHeader2::after {
  margin-top: -6px;
  height: 0;
  display: block;
  content: "";
}

.ExitBtnModalHeader3 {
  padding-top: 16px;
  overflow-y: visible;
  min-width: 0;
  margin-bottom: 0 !important;
  overflow-x: visible;
  max-width: 100%;
  margin-top: 0 !important;
  font-size: var(--system-14-font-size);
  font-weight: 400;
  margin-right: 0 !important;
  word-wrap: break-word;
  color: rgb(var(--ig-secondary-text));
  position: relative;
  display: block;
  font-family: var(--font-family-system);
  white-space: pre-line;
  margin-left: 0 !important;
  word-break: break-word;
}

.ExitBtnModalHeader3::before {
  margin-top: -3px;
  height: 0;
  display: block;
  content: "";
}

.ExitBtnModalHeader3::after {
  margin-top: -4px;
  height: 0;
  display: block;
  content: "";
}

.ExitBtnBtn {
  color: rgb(var(--ig-error-or-destructive));
  font-weight: var(--font-weight-system-bold);
  font-family: var(--font-family-system);
  background-color: transparent;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid rgb(var(--ig-elevated-separator));
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  min-height: 48px;
  padding: 4px 8px;
  text-align: center;
  -webkit-user-select: none;
  vertical-align: middle;
}

.ExitBtnBtn2 {
  border-bottom-left-radius: var(--modal-border-radius);
  border-bottom-right-radius: var(--modal-border-radius);
  color: rgb(var(--ig-primary-text));
  font-family: var(--font-family-system);
  background-color: transparent;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid rgb(var(--ig-elevated-separator));
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  min-height: 48px;
  padding: 4px 8px;
  text-align: center;
  -webkit-user-select: none;
  vertical-align: middle;
}

.contentDivProfile {
  overflow-y: visible;
  min-width: 0;
  min-height: 0;
  overflow-x: visible;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 0;
  position: static;
  flex-direction: row;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 1;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.contentDivProfile2 {
  overflow-y: visible;
  overflow-x: visible;
  align-content: stretch;
  border-bottom-left-radius: 0;
  justify-content: center;
  background-color: transparent;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  align-items: stretch;
  align-self: auto;
  position: relative;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.contentDivProfile3 {
  overflow-y: visible;
  overflow-x: visible;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  position: static;
  flex-direction: row;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.contentDivProfile4 {
  overflow-y: visible;
  overflow-x: visible;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  position: static;
  flex-direction: row;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.contentDivProfile5 {
  overflow-y: visible;
  min-width: 0;
  margin-bottom: 0 !important;
  overflow-x: visible;
  max-width: 100%;
  margin-top: 0 !important;
  font-size: var(--system-14-font-size);
  color: rgb(var(--ig-primary-text));
  margin-right: 0 !important;
  word-wrap: break-word;
  font-weight: 600;
  position: relative;
  display: block;
  font-family: var(--font-family-system);
  white-space: pre-line;
  margin-left: 0 !important;
  word-break: break-word;
}

.contentDivProfile6 {
  display: inline;
}

.contentDivProfile7 {
  text-decoration: none;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-top-width: 0;
  border-bottom-style: none;
  border-bottom-width: 0;
  border-top-style: none;
  padding-bottom: 0;
  display: inline;
  border-left-width: 0;
  padding-left: 0;
  background-color: transparent;
  touch-action: manipulation;
  border-right-style: none;
  border-right-width: 0;
  box-sizing: border-box;
  padding-right: 0;
  cursor: pointer;
  margin-left: 0;
  -webkit-tap-highlight-color: transparent;
  border-left-style: none;
  text-align: inherit;
  margin-right: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  color: rgb(var(--ig-link));
}

.contentDivProfile7::before {
  height: 0;
  display: block;
  content: "";
}

.contentDivProfile7::after {
  height: 0;
  display: block;
  content: "";
}
