.Container {
  position: fixed;
  left: 0;
  margin-right: -9999px;
  top: 0;
  position: absolute;
}

@media (max-width: 1263px) {
  .Container {
    transform: translate(60px, 90dvh) translate(0px, -100%);
  }
}

@media (min-width: 1264px) {
  .Container {
    transform: translate(12px, 94dvh) translate(0px, -100%);
  }
}

.Container:focus-visible {
  outline: rgb(0, 0, 0) auto 1px;
}

.Nav {
  max-height: inherit;
  min-width: inherit;
  height: inherit;
  max-width: inherit;
  min-height: inherit;
  width: inherit;
  justify-content: inherit;
  flex-grow: inherit;
  align-content: inherit;
  position: relative;
  display: inherit;
  align-items: inherit;
  flex-direction: inherit;
  flex-shrink: inherit;
}

.navInner1 {
  position: relative;
}

.navInner2 {
  display: flex;
}

.navInner3 {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  overflow-y: hidden;
  border-top-right-radius: 16px;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 16px;
  flex-direction: column;
  display: flex;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  position: relative;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.navInner4 {
  width: 266px;
}

.navInner5 {
  overflow: hidden;
  width: auto;
  position: relative;
  outline: none;
}

.navInner52 {
  height: 119px;
  overflow: hidden;
  width: auto;
  position: relative;
  outline: none;
}

.navInner6 {
  width: 100%;
  top: 0;
  box-sizing: border-box;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.08, 0.52, 0.52, 1);
  transition-duration: 200ms;
  z-index: 0;
  left: 0;
  position: absolute;
}

.navInner62 {
  width: 100%;
  top: 0;
  box-sizing: border-box;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.08, 0.52, 0.52, 1);
  transition-duration: 200ms;
  z-index: 0;
  left: 0;
  position: absolute;
}

.navInnerOuter {
  width: 100%;
  opacity: 0;
  box-sizing: border-box;
  transition-property: opacity, transform;
  pointer-events: none;
  transition-timing-function: cubic-bezier(0.08, 0.52, 0.52, 1);
  transition-duration: 200ms;
  z-index: 0;
  left: 0;
  position: absolute;
}

.navInnerOuter:focus-visible {
  outline: rgb(0, 0, 0) auto 1px;
}

.navInner7 {
  padding: 8px;
}

.navInner7:focus-visible {
  outline: rgb(0, 0, 0) auto 1px;
}

.navLink {
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  padding-top: 0;
  min-width: 0;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 0;
  border-bottom-width: 0;
  border-bottom-style: solid;
  max-width: 100%;
  padding-bottom: 0;
  border-right-style: solid;
  border-left-width: 0;
  padding-left: 0;
  border-top-color: rgba(0, 0, 0, 0.4);
  background-color: transparent;
  border-bottom-right-radius: unset;
  touch-action: manipulation;
  flex-basis: auto;
  border-right-width: 0;
  border-right-color: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  border-top-width: 0;
  user-select: none;
  padding-right: 0;
  flex-shrink: 0;
  border-left-color: rgba(0, 0, 0, 0.4);
  border-left-style: solid;
  border-bottom-left-radius: unset;
  cursor: pointer;
  outline-style: none;
  align-items: stretch;
  flex-direction: row;
  position: relative;
  margin-left: 0;
  display: block;
  z-index: 0;
  -webkit-tap-highlight-color: transparent;
  border-top-left-radius: unset;
  text-align: inherit;
  border-top-right-radius: unset;
  border-top-style: solid;
  margin-right: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

.navLink,
.navLink:visited {
  color: rgb(0, 55, 107);
  text-decoration: none;
}

.navLink:hover {
  text-decoration: none;
}

.navLink:active {
  opacity: 0.5;
}

.linkDiv {
  padding-top: 16px;
  padding-bottom: 16px;
  overflow-y: visible;
  overflow-x: visible;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  position: static;
  padding-left: 16px;
  align-items: stretch;
  padding-right: 16px;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.linkDiv:focus-visible {
  outline: rgb(0, 0, 0) auto 1px;
}

.divHover {
  border-radius: 8px;
}

.linkDivOuter {
  border-radius: 8px;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.05);
  opacity: 0;
  right: 0;
  pointer-events: none;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  transition-duration: 100ms;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
  transition-timing-function: cubic-bezier(0, 0, 1, 1);
  transition-property: opacity;
  left: 0;
  border-bottom-left-radius: inherit;
  position: absolute;
}

.linkDivOuter2 {
  border-radius: 8px;
  bottom: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 0;
  right: 0;
  pointer-events: none;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  transition-duration: 100ms;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
  transition-timing-function: cubic-bezier(0, 0, 1, 1);
  transition-property: opacity;
  left: 0;
  border-bottom-left-radius: inherit;
  position: absolute;
}

.linkInnerDiv {
  min-width: 0;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  position: relative;
  z-index: 0;
  flex-grow: 1;
}

.linkInnerDiv2 {
  flex-wrap: nowrap;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  z-index: 0;
}

.navIcon {
  min-width: 0;
  max-width: 100%;
  flex-direction: column;
  align-self: center;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  position: relative;
  z-index: 0;
}

.iconInner {
  overflow: visible;
  align-content: stretch;
  margin-right: 12px;
  border-bottom-left-radius: 0;
  background-color: transparent;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  position: static;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.Icon {
  color: rgb(0, 0, 0);
  position: relative;
  display: block;
}

.Icon > svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}

.iconTitle {
  min-width: 0;
  flex-shrink: 1;
  flex-basis: auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  z-index: 0;
  flex-grow: 1;
  flex-wrap: wrap;
}

.titleInner {
  min-width: 0;
  max-width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  position: relative;
  z-index: 0;
  flex-grow: 1;
}

.spanOuter {
  overflow: visible;
  min-width: 0;
  min-height: 0;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  position: static;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 1;
  align-items: flex-start;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.Span {
  line-height: 18px;
  --base-line-clamp-line-height: 18px;
  overflow: visible;
  min-width: 0;
  max-width: 100%;
  margin: 0 !important;
  font-size: 14px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  word-wrap: break-word;
  position: relative;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  white-space: pre-line;
  word-break: break-word;
  unicode-bidi: isolate;
}

.Span::before {
  height: 0;
  display: block;
  content: "";
}

.Span::after {
  height: 0;
  display: block;
  content: "";
}

.Span2 {
  line-height: 20px;
  --base-line-clamp-line-height: 20px;
  overflow: visible;
  min-width: 0;
  max-width: 100%;
  margin: 0 !important;
  font-size: 16px;
  color: rgb(0, 0, 0);
  word-wrap: break-word;
  position: relative;
  font-weight: 600;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  white-space: pre-line;
  word-break: break-word;
  unicode-bidi: isolate;
}

.Span2::before {
  height: 0;
  display: block;
  content: "";
}

.Span2::after {
  height: 0;
  display: block;
  content: "";
}

.innerSpan {
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

.underline {
  height: 6px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: -8px;
  margin-right: -8px;
  background-color: rgba(219, 219, 219, 0.3);
}

.modeInner {
  max-height: 100%;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  display: flex;
}

.modeDiv {
  background-color: rgb(255, 255, 255);
  width: 100%;
  max-width: 100%;
  border-bottom-right-radius: unset;
  border-bottom-left-radius: unset;
  display: block;
  border-top-right-radius: unset;
  border-top-left-radius: unset;
}

.modeDivInner {
  padding: 16px;
  overflow: visible;
  border-bottom-color: rgb(219, 219, 219);
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-bottom-left-radius: 0;
  align-content: stretch;
  background-color: transparent;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  position: static;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.iconInnerDiv {
  height: 24px;
  width: 24px;
  margin-top: -6px;
  padding-top: 0;
  margin-bottom: -6px;
  border-bottom-style: none;
  padding-bottom: 0;
  margin-right: -6px;
  justify-content: center;
  padding-left: 0;
  background-color: transparent;
  touch-action: manipulation;
  border-right-style: none;
  margin-left: -6px;
  border-left: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-right: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  border-top-style: none;
  border-right: 0;
  border-left-style: none;
  text-align: inherit;
  list-style: none;
  border-bottom: 0;
  border-top: 0;
  text-decoration: none;
  outline: none;
}

.iconInnerDiv2 {
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.iconSpan {
  display: inline-block;
  transform: rotate(270deg);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  text-align: inherit;
  list-style: none;
}

.iconSpansvg {
  position: relative;
  display: block;
  color: rgb(199, 199, 199);
}

.innerIcon {
  overflow: visible;
  flex-shrink: 1;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  position: static;
  align-items: stretch;
  flex-direction: row;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 0;
  margin-left: 12px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@keyframes anime {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.innerIconDiv {
  animation-duration: 0.25s;
  animation-name: anime;
}

.darkDiv {
  padding: 8px;
  overflow-y: auto;
  background-color: rgb(255, 255, 255);
  flex-grow: 1;
}

.innerIconDiv2 {
  height: 16px;
  padding-top: 0;
  overflow-x: hidden;
  width: 26px;
  border-bottom-width: 0;
  padding-bottom: 0;
  overflow-y: hidden;
  border-top-right-radius: 16px;
  border-left-width: 0;
  padding-left: 0;
  border-top-left-radius: 16px;
  border-right-width: 0;
  padding-right: 0;
  display: inline-block;
  position: relative;
  z-index: 0;
  opacity: 1;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.17, 0.17, 0, 1);
  background-color: rgb(219, 223, 228);
  transition-property: opacity;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  outline: none;
}

.innerIconDiv2Dark {
  height: 16px;
  padding-top: 0;
  overflow-x: hidden;
  width: 26px;
  border-bottom-width: 0;
  padding-bottom: 0;
  overflow-y: hidden;
  border-top-right-radius: 16px;
  border-left-width: 0;
  padding-left: 0;
  border-top-left-radius: 16px;
  border-right-width: 0;
  box-sizing: border-box;
  border-top-width: 0;
  padding-right: 0;
  display: inline-block;
  position: relative;
  z-index: 0;
  opacity: 1;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.17, 0.17, 0, 1);
  background-color: rgb(50, 53, 57);
  transition-property: opacity;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  outline: none;
}

.iconDiv {
  bottom: 0;
  top: 0;
  opacity: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;
  pointer-events: none;
  z-index: 0;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.17, 0.17, 0, 1);
  transition-property: opacity;
  background-color: rgb(15, 20, 25);
  position: absolute;
}

.iconDivDark {
  bottom: 0;
  top: 0;
  transition-duration: 200ms;
  right: 0;
  box-sizing: border-box;
  pointer-events: none;
  transition-timing-function: cubic-bezier(0.17, 0.17, 0, 1);
  z-index: 0;
  opacity: 1;
  transition-property: opacity;
  left: 0;
  background-color: rgb(248, 249, 249);
  position: absolute;
}

.iconDiv2 {
  width: 12px;
  top: 2px;
  height: 12px;
  border-top-right-radius: 14px;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  left: 2px;
  box-sizing: border-box;
  border-bottom-right-radius: 14px;
  pointer-events: none;
  z-index: 0;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.17, 0.17, 0, 1);
  transition-property: transform;
  position: absolute;
}

.iconDiv2Dark {
  width: 12px;
  top: 2px;
  height: 12px;
  border-top-right-radius: 14px;
  background-color: rgb(15, 20, 25);
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  transform: translateX(10px);
  left: 2px;
  box-sizing: border-box;
  border-bottom-right-radius: 14px;
  pointer-events: none;
  z-index: 0;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.17, 0.17, 0, 1);
  transition-property: transform;
  position: absolute;
}

.iconInput {
  width: 100%;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
  padding-bottom: 0;
  top: 0;
  padding-left: 0;
  touch-action: manipulation;
  box-sizing: border-box;
  padding-right: 0;
  cursor: pointer;
  opacity: 0.001;
  margin-left: 0;
  -webkit-tap-highlight-color: transparent;
  left: 0;
  margin-right: 0;
  position: absolute;
  outline: none;
}

.iconInput[type="checkbox"] {
  appearance: auto;
  border: initial;
}

.iconInputDark {
  width: 100%;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
  padding-bottom: 0;
  top: 0;
  padding-left: 0;
  touch-action: manipulation;
  box-sizing: border-box;
  padding-right: 0;
  cursor: pointer;
  opacity: 0.001;
  margin-left: 0;
  -webkit-tap-highlight-color: transparent;
  left: 0;
  margin-right: 0;
  position: absolute;
  outline: none;
}
