.articleDiv {
  border-bottom-width: 1px;
  padding-bottom: var(--revamp-feed-card-dense-padding);
  width: 100%;
  min-width: min(var(--revamp-feed-card-media-min-width), 100%);
  height: 100%;
  border-bottom-style: solid;
  border-bottom-color: rgb(var(--ig-separator));
  margin-bottom: var(--revamp-feed-item-spacing);
  flex-direction: column;
  display: flex;
}

.articleHead {
  padding-bottom: 12px;
  padding-left: 4px;
}

.videoDiv {
  width: 100%;
  height: 100%;
  background-color: rgb(var(--web-always-black));
  position: absolute;
}
.videoDiv2 {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  z-index: 0;
}

.videoDiv3 {
  width: 100%;
  height: 100%;
  position: relative;
}

.videoDiv4 {
  width: 100%;
  height: 100%;
  position: relative;
}

.videoDiv5 {
  width: 100%;
  height: 100%;
  position: static;
}

.video {
  width: 100%;
  height: 100%;
}

.videoDiv66 {
  bottom: 0;
  top: 0;
  right: 0;
  box-sizing: border-box;
  cursor: pointer;
  left: 0;
  position: absolute;
}

.videoDiv6 {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
}

.videoDiv7 {
  overflow-y: visible;
  overflow-x: visible;
  bottom: 0;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  flex-direction: column;
  right: 0;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: absolute;
  z-index: 1000;
}

.videoDiv8 {
  top: 50%;
  margin-top: -67px;
  left: 50%;
  margin-left: -67px;
  position: absolute;
}

.videoBtn {
  padding-bottom: 8px;
  overflow-y: visible;
  margin-bottom: 16px;
  padding-top: 8px;
  overflow-x: visible;
  border-bottom-left-radius: 50%;
  padding-left: 8px;
  border-top-right-radius: 50%;
  align-content: stretch;
  margin-right: 16px;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  background-color: rgb(var(--web-overlay-on-media));
  position: static;
  padding-right: 8px;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 0;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
}

.videoButton {
  border: 0;
  color: rgb(var(--ig-primary-button));
  display: inline-block;
  padding: 0 !important;
  position: relative;
  text-align: center;
  font-family: var(--font-family-system);
  -webkit-appearance: none;
  background: none;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  font-weight: var(--font-weight-system-semibold);
  pointer-events: auto;
  text-overflow: ellipsis;
  text-transform: inherit;
  -webkit-user-select: none;
  width: auto;
  line-height: var(--system-14-line-height);
  margin: 0;
}

.audioSvg {
  color: rgb(var(--web-always-white));
  position: relative;
  display: block;
  forced-color-adjust: auto;
}

.articleHeadDiv {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.articleHeadInnerDiv {
  margin-right: 12px;
}

.articleUserImage {
  align-items: center;
  align-self: center;
  display: block;
  flex: none;
  justify-content: center;
  position: relative;
}

.articleUserImageCanvas {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.articleUserSpan {
  overflow: hidden;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: rgb(var(--ig-secondary-background));
  box-sizing: border-box;
  flex-shrink: 0;
  position: relative;
  display: block;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}

.articleUserSpan::after {
  bottom: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  top: 0;
  border-bottom-color: rgba(var(--web-always-black), 0.0975);
  border-top-color: rgba(var(--web-always-black), 0.0975);
  border-top-style: solid;
  border-bottom-left-radius: 50%;
  border-top-width: 1px;
  border-right-style: solid;
  border-bottom-right-radius: 50%;
  border-right-color: rgba(var(--web-always-black), 0.0975);
  border-left-color: rgba(var(--web-always-black), 0.0975);
  pointer-events: none;
  border-top-right-radius: 50%;
  content: "";
  right: 0;
  position: absolute;
  border-left-style: solid;
  border-top-left-radius: 50%;
  left: 0;
  border-right-width: 1px;
  border-left-width: 1px;
}

.articleUserProfileImage {
  width: 100%;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
  border-bottom-width: 0;
  padding-bottom: 0;
  -webkit-touch-callout: none;
  border-left-width: 0;
  object-fit: cover;
  padding-left: 0;
  font-size: 100%;
  border-right-width: 0;
  border-top-width: 0;
  padding-right: 0;
  margin-left: 0;
  vertical-align: baseline;
  margin-right: 0;
  border: 0;
  -webkit-user-drag: none;
}

.articleUserName {
  overflow: visible;
  min-width: 0;
  min-height: 0;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 0;
  position: static;
  flex-direction: row;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 1;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.userNameInner {
  width: 100%;
  overflow: visible;
  align-content: stretch;
  border-bottom-left-radius: 0;
  justify-content: center;
  background-color: transparent;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  align-items: stretch;
  align-self: auto;
  position: relative;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.articleDay {
  overflow: visible;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  position: static;
  flex-direction: row;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.articleDaySpan {
  margin-right: 4px;
  margin-left: 4px;
  display: inline-block;
}

.articleDayInnerSpan {
  line-height: var(--base-line-clamp-line-height);
  overflow: visible;
  min-width: 0;
  margin-bottom: 0 !important;
  max-width: 100%;
  margin-top: 0 !important;
  font-size: var(--system-14-font-size);
  font-weight: 400;
  margin-right: 0 !important;
  word-wrap: break-word;
  color: rgb(var(--ig-secondary-text));
  position: relative;
  display: block;
  font-family: var(--font-family-system);
  white-space: pre-line;
  margin-left: 0 !important;
  word-break: break-word;
}

.articleDayInnerSpan::before {
  height: 0;
  display: block;
  content: "";
}

.articleDayInnerSpan::after {
  height: 0;
  display: block;
  content: "";
}

.articleDayDiv {
  overflow: visible;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  position: static;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  margin-left: 0;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.articleDayLink {
  text-decoration: none;
  color: rgb(var(--ig-link));
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: inline;
  padding-left: 0;
  background-color: transparent;
  touch-action: manipulation;
  border-left: 0;
  box-sizing: border-box;
  padding-right: 0;
  cursor: pointer;
  margin-left: 0;
  -webkit-tap-highlight-color: transparent;
  border-right: 0;
  text-align: inherit;
  margin-right: 0;
  list-style: none;
  border-bottom: 0;
  border-top: 0;
  outline: none;
}

.articleDayLinkSpan {
  line-height: var(--base-line-clamp-line-height);
  overflow: visible;
  min-width: 0;
  margin-bottom: 0 !important;
  max-width: 100%;
  margin-top: 0 !important;
  font-size: var(--system-14-font-size);
  font-weight: 400;
  margin-right: 0 !important;
  word-wrap: break-word;
  color: rgb(var(--ig-secondary-text));
  position: relative;
  display: block;
  font-family: var(--font-family-system);
  white-space: pre-line;
  margin-left: 0 !important;
  word-break: break-word;
}

.articleDayLinkSpan::before {
  margin-top: -3px;
  height: 0;
  display: block;
  content: "";
}

.articleDayTime {
  line-height: var(--base-line-clamp-line-height);
  font-size: var(--system-14-font-size);
  font-weight: 400;
  word-wrap: break-word;
  color: rgb(var(--ig-secondary-text));
  font-family: var(--font-family-system);
  white-space: pre-line;
  word-break: break-word;
}

.articleDayLinkSpan::after {
  margin-top: -4px;
  height: 0;
  display: block;
  content: "";
}

.userNameInnerDiv {
  overflow: visible;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  position: static;
  flex-direction: row;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.userName {
  overflow: visible;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  position: static;
  flex-direction: row;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.userNameSpan {
  overflow: visible;
  min-width: 0;
  margin: 0 !important;
  max-width: 100%;
  font-size: var(--system-14-font-size);
  color: rgb(var(--ig-primary-text));
  word-wrap: break-word;
  font-weight: 600;
  position: relative;
  font-family: var(--font-family-system);
  white-space: pre-line;
  word-break: break-word;
}

.userNameSpan::before {
  height: 0;
  display: block;
  content: "";
}

.userNameSpan::after {
  height: 0;
  display: block;
  content: "";
}

.nameInnerSpan {
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
}

.nameInnerSpan2 {
  display: inline;
}

.nameLink {
  text-decoration: none;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  display: inline;
  padding-left: 0;
  background-color: transparent;
  touch-action: manipulation;
  border-left: 0;
  box-sizing: border-box;
  padding-right: 0;
  cursor: pointer;
  margin-left: 0;
  -webkit-tap-highlight-color: transparent;
  border-right: 0;
  text-align: inherit;
  margin-right: 0;
  list-style: none;
  border-bottom: 0;
  border-top: 0;
  outline: none;
}

.nameLink:visited {
  color: rgb(var(--ig-link));
}

.linkInnerDiv {
  overflow: visible;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  flex-direction: column;
  box-sizing: border-box;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  position: static;
  display: inline-block;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.linkInnerDiv2 {
  flex-shrink: 0;
  flex-direction: row;
  align-self: auto;
  justify-content: flex-start;
  position: relative;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.linkInnerSpan {
  display: inline !important;
  margin: 0 !important;
  color: rgb(var(--ig-primary-text));
  font-weight: var(--font-weight-system-semibold);
  font-size: var(--system-14-font-size);
  line-height: var(--system-14-line-height);
  font-family: var(--font-family-system);
}

.articleMoreInfo {
  overflow: visible;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  position: static;
  flex-direction: row;
  align-self: auto;
  justify-content: flex-start;
  margin-left: auto;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.articleMoreInfo2 {
  overflow: visible;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  position: static;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  margin-left: 8px;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.articleMoreInfo3 {
  outline: none;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom-style: none;
  padding-bottom: 0;
  justify-content: center;
  padding-left: 0;
  background-color: transparent;
  touch-action: manipulation;
  border-right-style: none;
  border-left: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-left: 0;
  -webkit-tap-highlight-color: transparent;
  border-top-style: none;
  border-right: 0;
  text-align: inherit;
  margin-right: 0;
  list-style: none;
  border-bottom: 0;
  border-top: 0;
  text-decoration: none;
  cursor: pointer;
}

.articleMoreInfo4 {
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.articleMoreInfo5 {
  overflow: visible;
  align-content: stretch;
  border-bottom-left-radius: 0;
  justify-content: center;
  background-color: transparent;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  align-self: auto;
  position: relative;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.articleMoreInfoSvg {
  color: rgb(var(--ig-primary-text));
  position: relative;
  display: block;
}

.articleBody {
  border-bottom-width: 1px;
  overflow-x: hidden;
  border-bottom-style: solid;
  border-bottom-color: rgb(var(--ig-separator));
  overflow-y: hidden;
  background-color: rgb(var(--web-always-black));
  border-left-width: 1px;
  border-right-style: solid;
  border-bottom-right-radius: 4px;
  border-right-color: rgb(var(--ig-separator));
  border-left-color: rgb(var(--ig-separator));
  border-right-width: 1px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  border-top-color: rgb(var(--ig-separator));
  flex-shrink: 0;
  border-left-style: solid;
  border-top-right-radius: 4px;
  cursor: pointer;
  position: relative;
  border-top-left-radius: 4px;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-left-radius: 4px;
}

.articleBodyDiv {
  padding: 0;
  margin: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  font-size: 100%;
  touch-action: manipulation;
  flex-direction: column;
  border-right-width: 0;
  box-sizing: border-box;
  border-top-width: 0;
  display: flex;
  flex-shrink: 0;
  align-items: stretch;
  position: relative;
  vertical-align: baseline;
}

.bodyInnerDiv {
  width: calc(min(470px, 100vw) - 2px);
}

.bodyInnerDivDiv {
  align-items: stretch;
  border: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font: inherit;
  font-size: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  vertical-align: baseline;
}

.bodyInnerDiv2 {
  -webkit-tap-highlight-color: transparent;
}

.bodyInnerDiv3 {
  background-color: rgb(var(--ig-highlight-background));
  display: block;
  width: 100%;
  position: relative;
}

.bodyInnerDiv4 {
  display: block;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
}

.postImage {
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  user-select: none;
  position: absolute;
  border: 0;
}

.bodyInnerDiv4Outer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.articleBodyFooter {
  width: 100%;
}

.articleContent {
  position: relative;
  display: block;
}

.articleContentDiv {
  height: 100%;
  background-color: rgb(var(--ig-primary-background));
  flex-direction: column;
  display: flex;
  position: relative;
}

.postIcon {
  margin-top: 4px;
  margin-bottom: 4px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.leftSectionIcon {
  display: flex;
}

.iconSpan {
  margin-left: -8px;
}

.iconDiv {
  padding-bottom: 8px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 8px;
  border-bottom-style: none;
  padding-left: 8px;
  justify-content: center;
  background-color: transparent;
  touch-action: manipulation;
  border-right-style: none;
  border-left: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-right: 8px;
  margin-left: 0;
  -webkit-tap-highlight-color: transparent;
  border-top-style: none;
  border-right: 0;
  border-left-style: none;
  text-align: inherit;
  margin-right: 0;
  list-style: none;
  border-bottom: 0;
  border-top: 0;
  text-decoration: none;
  outline: none;
}

.iconInnerDiv {
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
}

@keyframes iconanime {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.iconDiv.clicked .iconInnerDivSpan,
.iconDiv:hover .iconInnerDivSpan {
  animation-timing-function: ease-in-out;
  transform: scale(1);
  animation-duration: 0.45s;
  animation-name: iconanime;
}

.iconSvg {
  color: rgb(var(--ig-primary-text));
  position: relative;
  display: block;
}

.iconSvgClicked {
  color: rgb(var(--ig-badge));
  position: relative;
  display: block;
}

.iconSvg:hover {
  color: gray;
  position: relative;
  display: block;
}

.rightSectionIcon {
  margin-left: auto;
  margin-right: 0;
}

.iconInnerDiv2 {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom-style: none;
  padding-bottom: 0;
  justify-content: center;
  padding-left: 0;
  background-color: transparent;
  touch-action: manipulation;
  border-right-style: none;
  border-left: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-right: 0;
  cursor: pointer;
  margin-left: 0;
  -webkit-tap-highlight-color: transparent;
  border-top-style: none;
  border-right: 0;
  border-left-style: none;
  text-align: inherit;
  margin-right: 0;
  list-style: none;
  border-bottom: 0;
  border-top: 0;
  text-decoration: none;
  outline: none;
}

.iconSvgOuterDiv {
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.likeSection {
  margin-bottom: 0;
}

.likeSectionDiv {
  overflow: visible;
  min-width: 0;
  min-height: 0;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 0;
  flex-direction: row;
  align-self: 0;
  justify-content: flex-start;
  position: relative;
  flex-grow: 1;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.likeSectionInnerDiv {
  overflow: visible;
  margin-top: auto;
  min-width: 0;
  margin-bottom: auto;
  min-height: 0;
  align-content: stretch;
  border-bottom-left-radius: 0;
  margin-right: auto;
  background-color: transparent;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  align-self: auto;
  justify-content: flex-start;
  position: relative;
  flex-grow: 1;
  margin-left: auto;
  align-items: flex-start;
  flex-wrap: wrap;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.likeSectionSpan {
  line-height: var(--base-line-clamp-line-height);
  overflow: visible;
  min-width: 0;
  margin: 0 !important;
  max-width: 100%;
  font-size: var(--system-14-font-size);
  font-weight: 400;
  color: rgb(var(--ig-primary-text));
  word-wrap: break-word;
  position: relative;
  display: block;
  font-family: var(--font-family-system);
  white-space: pre-line;
  word-break: break-word;
}

.likeSectionSpan::before {
  height: 0;
  display: block;
  content: "";
}

.likeSectionSpan::after {
  height: 0;
  display: block;
  content: "";
}

.likeModalLink {
  outline: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: inline;
  background-color: transparent;
  touch-action: manipulation;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  text-align: inherit;
  list-style: none;
}

.likeModalLink:visited {
  color: rgb(var(--ig-link));
}

.likeInnerSpan {
  min-width: 0;
  margin: 0 !important;
  max-width: 100%;
  font-size: var(--system-14-font-size);
  display: inline;
  color: rgb(var(--ig-primary-text));
  word-wrap: break-word;
  font-weight: 600;
  font-family: var(--font-family-system);
  white-space: pre-line;
  word-break: break-word;
}

.likeCountSpan {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  text-align: inherit;
  text-decoration: none;
}

.postContent {
  overflow: visible;
  margin-top: 8px;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  box-sizing: border-box;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  position: static;
  display: inline-block;
  align-items: stretch;
  flex-direction: row;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.postUserName {
  margin-right: 4px;
  display: inline-block;
}

.postUserNameSpan {
  display: inline;
}

.postUserProfile {
  /* color: rgb(var(--ig-secondary-button)); */
  color: rgb(var(--ig-primary-text));
  height: auto;
  border-bottom-color: var(--always-dark-overlay);
  padding-top: 0;
  min-width: 0;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 0;
  border-bottom-style: none;
  border-bottom-width: 0;
  padding-bottom: 0;
  width: auto;
  font-weight: var(--font-weight-system-semibold);
  display: inline;
  border-top-left-radius: 2px;
  border-left-width: 0;
  justify-content: center;
  padding-left: 0;
  appearance: none;
  border-top-color: var(--always-dark-overlay);
  background-color: transparent;
  touch-action: manipulation;
  flex-basis: auto;
  border-right-style: none;
  border-right-width: 0;
  border-right-color: var(--always-dark-overlay);
  box-sizing: border-box;
  border-top-width: 0;
  user-select: none;
  align-items: center;
  padding-right: 0;
  flex-shrink: 0;
  border-left-color: var(--always-dark-overlay);
  text-align: center;
  cursor: pointer;
  border-top-right-radius: 2px;
  outline-style: none;
  flex-direction: row;
  position: relative;
  margin-left: 0;
  z-index: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: var(--font-family-system);
  font-size: 0.875rem;
  border-top-style: none;
  line-height: var(--system-14-line-height);
  border-left-style: none;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-right: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

.postUserNameSpan:visited {
  color: rgb(var(--ig-link));
  text-decoration: none;
}

.postContentSpan {
  display: inline !important;
  margin: 0 !important;
  color: rgb(var(--ig-primary-text));
  font-weight: var(--font-weight-system-regular);
  margin: 0;
  font-size: var(--system-14-font-size);
  line-height: var(--system-14-line-height);
  margin: 3px 0 4px;
  font-family: var(--font-family-system);
}

.hashTag {
  color: rgb(var(--ig-link));
  text-decoration: none;
  word-wrap: break-word;
  padding: 0;
  margin: 0;
  display: inline;
  background-color: transparent;
  touch-action: manipulation;
  border-left: 0;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  border-right: 0;
  text-align: inherit;
  list-style: none;
  border-bottom: 0;
  border-top: 0;
  outline: none;
}

.hashTag:visited {
  color: rgb(var(--ig-link));
}

.postComment {
  overflow: visible;
  margin-top: 8px;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  position: static;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.commentLink {
  text-decoration: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  touch-action: manipulation;
  border: 0;
  box-sizing: border-box;
  display: flex;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  text-align: inherit;
  list-style: none;
  outline: none;
  color: rgb(var(--ig-link));
}

.commentLink:visited {
  color: rgb(var(--ig-link));
}

.linkCommentSpan {
  overflow: visible;
  min-width: 0;
  margin: 0 !important;
  max-width: 100%;
  font-size: var(--system-14-font-size);
  font-weight: 400;
  word-wrap: break-word;
  color: rgb(var(--ig-secondary-text));
  position: relative;
  display: block;
  font-family: var(--font-family-system);
  white-space: pre-line;
  word-wrap: break-word;
}

.linkCommentSpan::before {
  height: 0;
  display: block;
  content: "";
}

.linkCommentSpan::after {
  height: 0;
  display: block;
  content: "";
}

.linkCommentInnerSpan {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  text-align: inherit;
  text-decoration: none;
}

.commentInput {
  overflow: visible;
  margin-top: 8px;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  position: static;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.inputSection {
  border: none;
  padding: 0 !important;
  top: -2px;
  width: 100%;
  color: rgb(var(--ig-secondary-text));
  flex-shrink: 0;
  font-size: var(--system-14-font-size);
  justify-content: center;
  line-height: var(--system-14-line-height);
  position: relative;
}

.inputSecitonDiv {
  padding: 0;
  background-color: rgb(var(--ig-primary-background));
  border: none;
  border-radius: 38px;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.formInput {
  padding: 0;
  border: none;
  border-radius: 38px;
  margin: 0;
  background-color: rgb(var(--ig-primary-background));
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  font: inherit;
  font-size: 100%;
}

.formInputDiv {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.formInputInnerDiv {
  padding: 0;
  order: 3;
  margin-right: 6px;
}

.formInputInnerDiv2 {
  padding: 0;
  margin: 0;
  border-bottom-style: none;
  justify-content: center;
  background-color: transparent;
  touch-action: manipulation;
  border-right-style: none;
  border-left: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-right: 0;
  cursor: pointer;
  margin-left: 0;
  -webkit-tap-highlight-color: transparent;
  border-top-style: none;
  border-right: 0;
  border-left-style: none;
  text-align: inherit;
  margin-right: 0;
  list-style: none;
  border-bottom: 0;
  border-top: 0;
  text-decoration: none;
  outline: none;
}

.formInputInnerDiv3 {
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.Emoticon {
  color: rgb(var(--ig-secondary-text));
  position: relative;
  display: block;
}

.formInputTextArea {
  width: 0;
  max-height: 80px;
  height: 18px !important;
  padding-top: 0;
  border-bottom-style: none;
  padding-bottom: 0;
  background-color: rgb(var(--ig-primary-background));
  resize: none;
  padding-left: 0;
  border-right-style: none;
  display: flex;
  color: rgb(var(--ig-primary-text));
  padding-right: 0;
  font-size: inherit;
  flex-grow: 1;
  font-family: var(--font-family-system);
  border-top-style: none;
  border-left-style: none;
  outline: none;
  line-height: var(--system-14-line-height);
  max-width: 100%;
  -webkit-appearance: none;
  border-radius: 0;
  margin: 0;
}

.EnterBtn {
  margin: 0 8px;
}

.EnterDiv {
  height: auto;
  border-bottom-color: var(--always-dark-overlay);
  padding-top: 0;
  min-width: 0;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 0;
  border-bottom-style: none;
  border-bottom-width: 0;
  padding-bottom: 0;
  width: auto;
  font-weight: var(--font-weight-system-semibold);
  display: inline;
  border-top-left-radius: 2px;
  border-left-width: 0;
  text-overflow: ellipsis;
  justify-content: center;
  padding-left: 0;
  appearance: none;
  border-top-color: var(--always-dark-overlay);
  background-color: transparent;
  touch-action: manipulation;
  flex-basis: auto;
  border-right-style: none;
  border-right-width: 0;
  border-right-color: var(--always-dark-overlay);
  box-sizing: border-box;
  border-top-width: 0;
  user-select: none;
  align-items: center;
  padding-right: 0;
  flex-shrink: 0;
  border-left-color: var(--always-dark-overlay);
  text-align: center;
  cursor: pointer;
  border-top-right-radius: 2px;
  outline-style: none;
  flex-direction: row;
  position: relative;
  margin-left: 0;
  z-index: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: var(--font-family-system);
  font-size: 0.875rem;
  border-top-style: none;
  line-height: var(--system-14-line-height);
  border-left-style: none;
  color: rgb(var(--ig-primary-button));
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-right: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

.bodyInnerDiv2M {
  flex-grow: 1;
}

.bodyInnerDiv3M {
  align-items: stretch;
  border: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font: inherit;
  font-size: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  vertical-align: baseline;
}

.bodyInnerDiv4M {
  display: block;
  position: relative;
}

.bodyInnerDiv5M {
  align-items: stretch;
  border: 0;
  box-sizing: border-box;
  display: block;
  flex-direction: column;
  flex-shrink: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  vertical-align: baseline;
}

.bodyInnerDiv6M {
  overflow-y: visible;
  overflow-x: visible;
  bottom: 0;
  top: 0;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  flex-direction: column;
  right: 0;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  flex-grow: 0;
  left: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: absolute;
}

.bodyInnerDiv7M {
  align-items: stretch;
  border: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font: inherit;
  font-size: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  vertical-align: baseline;
  width: 100%;
}

.bodyInnerDiv8M {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}

.bodyInnerDiv9M {
  align-items: stretch;
  border: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font: inherit;
  font-size: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  vertical-align: baseline;
}

.Imgul {
  border: 0;
  display: flex;
  flex-direction: row;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  list-style-type: none;
}

.Imgli {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  vertical-align: baseline;
  height: 100%;
}

.liDiv {
  -webkit-tap-highlight-color: transparent;
}

.InnerDivM {
  background-color: rgb(var(--ig-highlight-background));
  display: block;
  width: 100%;
  position: relative;
}

.InnerDivM2 {
  display: block;
  overflow: hidden;
  position: relative;
}

.InnerDivM3 {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.ImgM {
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  user-select: none;
  position: absolute;
  border: 0;
}

.NumberOfA {
  flex-direction: row;
  display: flex;
  align-items: center;
  bottom: 15px;
  justify-content: center;
  left: 6px;
  pointer-events: none;
  position: absolute;
  right: 6px;
}

.selectImg {
  background: rgb(var(--web-always-white));
  opacity: 0.4;
  margin-right: 4px;
  border-radius: 50%;
  height: 6px;
  transition: all 0.2s ease-in-out;
  width: 6px;
}

.BtnM {
  cursor: pointer;
  padding: 16px 8px;
  background: transparent;
  border: none;
  justify-self: center;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(var(--ig-primary-text));
  font-family: var(--font-family-system);
  font-size: var(--system-14-font-size);
  line-height: var(--system-14-line-height);
  margin: 0;
}

.prevBtn {
  background-repeat: no-repeat;
  background-position: -130px -98px;
  height: 30px;
  width: 30px;
}

.nextBtn {
  background-repeat: no-repeat;
  background-position: -162px -98px;
  height: 30px;
  width: 30px;
}

.arrow {
  fill: rgb(32, 33, 36);
  margin-left: -4px;
  margin-right: 5px;
  flex: none;
  -webkit-tap-highlight-color: transparent;
}

.ExitBtn {
  z-index: 5;
  position: relative;
}

.ExitBtn2 {
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}

.ExitBtn3 {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  position: relative;
}

.ExitBtn4 {
  bottom: 0;
  top: 0;
  position: fixed;
  right: 0;
  background-color: var(--overlay-alpha-80);
  left: 0;
}

.ExitBtn5 {
  max-height: inherit;
  min-width: inherit;
  height: inherit;
  min-height: inherit;
  width: inherit;
  max-width: inherit;
  justify-content: inherit;
  flex-grow: inherit;
  align-content: inherit;
  position: relative;
  display: inherit;
  align-items: inherit;
  flex-direction: inherit;
  flex-shrink: inherit;
}

.ExitBtn6 {
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  flex-grow: 1;
}

.ExitBtn7 {
  min-width: 0;
  min-height: 0;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  pointer-events: none;
  align-items: flex-start;
}

.ExitBtn8 {
  overflow-x: hidden;
  overflow-y: hidden;
  justify-content: center;
  flex-direction: column;
  display: flex;
  pointer-events: all;
  align-items: center;
  position: relative;
  z-index: 0;
  box-sizing: content-box;
  outline: none;
}

.ExitBtn9 {
  margin-bottom: 20px;
  margin-top: 20px;
  max-height: calc(100% - 40px);
  width: 260px;
  animation-duration: 0.1s;
  flex-shrink: 1;
  margin-left: 20px;
  animation-name: x1saec3i-B;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  position: relative;
  margin-right: 20px;
}

@media (min-width: 736px) {
  .ExitBtn9 {
    width: 400px;
  }
}

.ExitBtnModal {
  overflow-x: auto;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
  border-bottom-left-radius: var(--modal-border-radius);
  border-top-left-radius: var(--modal-border-radius);
  border-bottom-right-radius: var(--modal-border-radius);
  background-color: rgb(var(--ig-elevated-background));
  border-top-right-radius: var(--modal-border-radius);
}

.ExitBtnModal2 {
  align-items: stretch;
  border: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font: inherit;
  font-size: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  vertical-align: baseline;
}

.ExitBtnModalHeader {
  margin-top: calc(2 * var(--modal-padding));
  align-items: stretch;
  border: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font: inherit;
  font-size: 100%;
  margin: calc(2 * var(--modal-padding)) calc(2 * var(--modal-padding))
    var(--modal-padding) calc(2 * var(--modal-padding));
  word-wrap: anywhere;
  padding: 0;
  position: relative;
  text-align: center;
  vertical-align: baseline;
}

.ExitBtnModalBody {
  align-items: stretch;
  border: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  margin-top: var(--modal-padding);
  padding: 0;
  position: relative;
  vertical-align: baseline;
}

.ExitBtnModalHeader2 {
  overflow-y: visible;
  min-width: 0;
  margin-bottom: 0 !important;
  overflow-x: visible;
  max-width: 100%;
  margin-top: 0 !important;
  font-weight: 400;
  color: rgb(var(--ig-primary-text));
  margin-right: 0 !important;
  word-wrap: break-word;
  position: relative;
  font-size: var(--system-20-font-size);
  display: block;
  font-family: var(--font-family-system);
  white-space: pre-line;
  margin-left: 0 !important;
  word-break: break-word;
}

.ExitBtnModalHeader2::before {
  margin-top: -4px;
  height: 0;
  display: block;
  content: "";
}

.ExitBtnModalHeader2::after {
  margin-top: -6px;
  height: 0;
  display: block;
  content: "";
}

.ExitBtnModalHeader3 {
  padding-top: 16px;
  overflow-y: visible;
  min-width: 0;
  margin-bottom: 0 !important;
  overflow-x: visible;
  max-width: 100%;
  margin-top: 0 !important;
  font-size: var(--system-14-font-size);
  font-weight: 400;
  margin-right: 0 !important;
  word-wrap: break-word;
  color: rgb(var(--ig-secondary-text));
  position: relative;
  display: block;
  font-family: var(--font-family-system);
  white-space: pre-line;
  margin-left: 0 !important;
  word-break: break-word;
}

.ExitBtnModalHeader3::before {
  margin-top: -3px;
  height: 0;
  display: block;
  content: "";
}

.ExitBtnModalHeader3::after {
  margin-top: -4px;
  height: 0;
  display: block;
  content: "";
}

.ExitBtnBtn {
  color: rgb(var(--ig-error-or-destructive));
  font-weight: var(--font-weight-system-bold);
  font-family: var(--font-family-system);
  background-color: transparent;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid rgb(var(--ig-elevated-separator));
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  min-height: 48px;
  padding: 4px 8px;
  text-align: center;
  -webkit-user-select: none;
  vertical-align: middle;
}

.ExitBtnBtn2 {
  border-bottom-left-radius: var(--modal-border-radius);
  border-bottom-right-radius: var(--modal-border-radius);
  color: rgb(var(--ig-primary-text));
  font-family: var(--font-family-system);
  background-color: transparent;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid rgb(var(--ig-elevated-separator));
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  min-height: 48px;
  padding: 4px 8px;
  text-align: center;
  -webkit-user-select: none;
  vertical-align: middle;
}
