.rootBody {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: (
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif
  );
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  overflow-y: visible;
  height: 100%;
  padding: 0;
  unicode-bidi: embed;
}

.rootParent {
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}

.rootChild {
  flex-direction: column;
  display: flex;
  position: relative;
  z-index: 0;
}

.leafParent {
  top: 0px;
  min-height: calc(100vh - 0px);
  flex-direction: column;
  display: flex;
  position: relative;
}

.leafChild {
  min-height: inherit;
  margin-bottom: calc(-100vh + 0px);
  flex-direction: column;
  display: flex;
  position: relative;
  z-index: 0;
}

.container {
  height: 100%;
  overflow-x: visible;
  overflow-y: visible;
  background-color: rgb(255, 255, 255);
  align-content: stretch;
  border-bottom-left-radius: 0;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  position: static;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  align-self: auto;
  flex-grow: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.leftSectionWrapper {
  overflow-y: visible;
  width: fit-content;
  overflow-x: visible;
  height: 100%;
  top: 0;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  position: fixed;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  z-index: 10;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.leftSectionOuter {
  max-height: inherit;
  min-width: inherit;
  height: inherit;
  min-height: inherit;
  width: inherit;
  max-width: inherit;
  justify-content: inherit;
  flex-grow: inherit;
  align-content: inherit;
  position: relative;
  display: inherit;
  align-items: inherit;
  flex-direction: inherit;
  flex-shrink: inherit;
}

.leftSectionInner {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
}

.leftSection {
  transform: translateX(0px);
  border-right-style: solid;
  border-right-color: rgb(219, 219, 219);
  border-right-width: 1px;
  z-index: 1;
}

@media (min-width: 1920px) {
  .left {
    width: 335px;
  }
}

.left {
  transform: translateX(0px);
  padding-bottom: 20px;
  padding-top: 8px;
  height: 100dvh;
  background-color: rgb(255, 255, 255);
  padding-right: 12px;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  padding-left: 12px;
  align-items: flex-start;
}

.logoOuter {
  width: 100%;
  height: 92px;
  flex-shrink: 0;
  position: relative;
}

.logoInner {
  height: 73px;
  width: 100%;
  padding-top: 25px;
  margin-bottom: 19px;
  padding-bottom: 16px;
  top: 0;
  padding-right: 12px;
  box-sizing: border-box;
  padding-left: 12px;
  left: 0;
  position: absolute;
}

.logo {
  opacity: 1;
}

.logoDetail {
  text-decoration: none;
  color: rgb(0, 55, 107);
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  display: inline;
  padding-left: 0;
  background-color: transparent;
  touch-action: manipulation;
  border-left: 0;
  box-sizing: border-box;
  padding-right: 0;
  cursor: pointer;
  margin-left: 0;
  -webkit-tap-highlight-color: transparent;
  border-right: 0;
  text-align: inherit;
  margin-right: 0;
  outline: none;
}

@media (min-width: 768px) {
  .bottomNav {
    width: 100%;
    justify-content: flex-end;
  }
}

.postButton {
  margin: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
  background-color: rgb(29, 155, 240);
  height: 52px;
  width: 234px;
  border-radius: 26px;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 17px;
}
.postButton:hover {
  background-color: rgb(26, 140, 216);
}
.postButton span {
  display: inline-block;
}

.rightSectionWrapper {
  display: flex;
  align-items: flex-start;
  height: 100dvh;
  flex-direction: column;
  flex-grow: 1;
}

.rightSectionInner {
  height: 100%;
  width: 990px;
  display: flex;
  justify-content: space-between;
}

.main {
  width: 600px;
  height: 200dvh;
}
