.rootDiv {
  top: 0;
  position: fixed;
  right: 0;
  animation-duration: 0.3s;
  z-index: 12;
  animation-iteration-count: 1;
  display: none;
  animation-timing-function: steps(1, end);
  animation-name: none;
  left: 0;
}

@keyframes rootanime {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.rootDivInner {
  height: 3px;
  width: 100%;
  top: 0;
  position: fixed;
  transform-origin: right;
  right: 0;
  animation-timing-function: ease-out;
  z-index: 12;
  animation-name: rootanime;
  animation-iteration-count: 1;
  animation-delay: 0s;
  will-change: transform;
  animation-duration: 2s;
  left: 0;
}

.rootDivInner2 {
  height: 3px;
  width: 100%;
  transform-origin: right;
  animation-iteration-count: infinite;
  will-change: transform;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-duration: 2s;
  left: 0;
}

.rootBody {
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}

.rootChild {
  flex-direction: column;
  display: flex;
  position: relative;
  z-index: 0;
}

.leafParent {
  top: var(--header-height);
  min-height: calc(100vh - var(--header-height));
  flex-direction: column;
  display: flex;
  position: relative;
}

.leafChild {
  min-height: inherit;
  margin-bottom: calc(-100vh + var(--header-height));
  flex-direction: column;
  display: flex;
  position: relative;
  z-index: 0;
}

.container {
  overflow-x: visible;
  overflow-y: visible;
  background-color: rgb(var(--ig-primary-background));
  align-content: stretch;
  border-bottom-left-radius: 0;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  position: static;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  align-self: auto;
  flex-grow: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.leftSectionWrapper {
  overflow-y: visible;
  width: fit-content;
  overflow-x: visible;
  height: 100vh;
  top: 0;
  align-content: stretch;
  border-bottom-left-radius: 0;
  background-color: transparent;
  position: fixed;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  border-bottom-right-radius: 0;
  flex-shrink: 0;
  align-items: stretch;
  align-self: auto;
  justify-content: flex-start;
  z-index: 10;
  flex-grow: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.leftSectionOuter {
  max-height: inherit;
  min-width: inherit;
  height: inherit;
  min-height: inherit;
  width: inherit;
  max-width: inherit;
  justify-content: inherit;
  flex-grow: inherit;
  align-content: inherit;
  position: relative;
  display: inherit;
  align-items: inherit;
  flex-direction: inherit;
  flex-shrink: inherit;
}

.leftSectionInner {
  height: 100dvh;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
}

.postButton {
  margin: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
  background-color: rgb(29, 155, 240);
  height: 52px;
  width: 234px;
  border-radius: 26px;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 17px;
}
.postButton:hover {
  background-color: rgb(26, 140, 216);
}
.postButton span {
  display: inline-block;
}

.rightSectionWrapper {
  width: 100%;
  margin-left: auto;
}

@media (max-width: 767px) {
  .rightSectionWrapper {
    max-height: calc(100% - var(--revamp-nav-bottom-toolbar-height));
    flex-grow: 1;
  }
}

@media (min-width: 768px) and (max-width: 1263px) {
  .rightSectionWrapper {
    width: calc(100% - var(--nav-narrow-width));
  }
}

@media (min-width: 1264px) and (max-width: 1919px) {
  .rightSectionWrapper {
    width: calc(100% - var(--nav-medium-width));
  }
}

@media (min-width: 1920px) {
  .rightSectionWrapper {
    width: calc(100% - var(--nav-wide-width));
  }
}

.rightSectionInner {
  min-height: 100vh;
  overflow-x: hidden;
  flex-direction: column;
  display: flex;
  flex-grow: 1;
}

.main {
  width: 600px;
  height: 200dvh;
}
